<h2> About </h2>
<p> This is a food blog that celebrate the awesomeness of food. The recipes are mostly vegetarian and gluten free.We’re most inspired by the things we eat when traveling or random ingredients in the fridge.Feel free to add your recipes to our blog.We enjoy FOOD anytime, anywhere!! </p>
<br>
<p>Thankyou,</p>
<p>Sowmya & Ben</p>

{{#link-to 'contact'}} Click here to contact us.{{/link-to}}
